/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*General Styling*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background: url(../images/background-image) no-repeat center center fixed;
    background-size: cover;
    color: #f1f9f6;
}

.heading-styling {
    font-family: "DM Serif Display", serif;
    font-weight: lighter;
    padding: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    z-index: 1;
    background-color: #1c342f;
    border: solid 3px #ffce85;
    width: 280px;
    height: auto;
    margin: 10px;
    padding: 10px;
    text-align: left;
    border-radius: 10%;
    line-height: 30px;
}

.list-style {
    list-style: none;
}

.container-styling {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    height: 50%;
    text-align: center;
    background-color: rgb(28, 52, 47, 0.9);
    border-radius: 12px;
    /*Code tutorial from stackoverflow https://stackoverflow.com/questions/2281087/center-a-div-in-css*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


.btn-styling {
    color: #0e1b18;
    background-color: #f1f9f6;
    font-family: "Poppins", sans-serif;
    border-radius: 12px;
    width: auto;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
}

button:hover {
    background-color: rgb(255, 206, 133);
}

/*Change button colour and size when clicked */
button:focus {
    background-color: rgb(255, 206, 133);
}


.move-right {
    position: absolute;
    top: 2px;
    right: 0;
}

#showDropDown {
    position: absolute;
    right: 50px;
}

/*Tutorial used https://www.geeksforgeeks.org/css/how-to-create-fade-in-effect-on-page-load-using-css/*/
.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


/*Question Section*/

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: larger;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.icon-styling {
    font-size: 35px;
    padding: 10px;
    margin: 10px;
}

#true:hover {
    color: #5c996e;
}

#false:hover {
    color: #ed5d5d;
}

.text-padding {
    padding: 30px;
}


/*Timer colour*/
.colour-red {
    color: #ed5d5d;
}


/*To hide section when no longer needed on screen*/
.hide {
    display: none;
}

/* To add growing effect to button when hovered 
Tutorial used https://www.30secondsofcode.org/*/
.button-grow {
    transition: all 0.2s ease-in-out;
}

.button-grow:hover {
    transform: scale(1.1);
}

/*404 page styling*/

.nav-link {
    color: #f1f9f6;
}

.nav-link:hover {
    color: rgb(255, 206, 133);
}

#validationError {
    color: #ed5d5d;
    font-style: italic;
    font-weight: bold;
}

.image-size {
    width: auto;
    height: 80px;
}

/*Help section styling*/
.help-button {
    position: absolute;
    bottom: 2px;
    right: 0;
    margin: 20px;
}

.help-button:hover {
    color: rgb(255, 206, 133);
}

.background-color {
    background-color: #5c996e;
    border: solid 3px #1c342f;
    box-shadow: 3px 3px #1c342f;
}

/*Media Queries for mobile screens*/
@media screen and (max-width: 860px) {
    .container-styling {
        width: 100%;
        margin-top: 40px;
        height: auto;
    }

    .mobile-btn {
        margin: 10px;
    }

    .mobile-font {
        font-size: 1rem;
    }

    #showDropDown {
        position: absolute;
        right: 5px;
    }

    .mobile-icon {
        font-size: 27px;
        position: absolute;
        bottom: -60px;
        right: 0;
    }
}

@media screen and (min-width: 2560px) {
    .large-screen {
        font-size: 2rem;
    }

    .large-btn {
        font-size: 3rem;
    }

    .dropdown-content {
        width: 350px;
    }
}

@media screen and (max-width: 1024px) {
    .container-styling {
        height: auto;
    }
}