/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*General Styling*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background: url(../images/background-image) no-repeat center center fixed;
    background-size: cover;
    color: #f1f9f6;
}

.heading-styling {
    font-family: "DM Serif Display", serif;
    font-weight: lighter;
    padding: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    z-index: 1;
    background-color: #1c342f;
    border: solid 3px #ffce85;
    width: 300px;
    height: 250px;
    margin: 10px;
    padding: 10px;
    text-align: left;
    border-radius: 10%;
    line-height: 30px;
}

.list-style {
    list-style: none;
}

.container-styling {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    height: 45%;
    text-align: center;
    background-color: rgb(28, 52, 47, 0.9);
    border-radius: 12px;
    /*Code tutorial from stackoverflow*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.btn-styling {
    color: #0e1b18;
    background-color: #f1f9f6;
    font-family: "Poppins", sans-serif;
    border-radius: 12px;
    width: auto;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
}

button:hover {
    background-color: rgb(255, 206, 133);
}

.align-right {
    display: flex;
    justify-self: right;
    padding-left: 10px;
}

/*Question Section*/

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: larger;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.icon-styling {
    font-size: 35px;
    padding: 10px;
    margin: 10px;
}

#true:hover {
    color: #5c996e;
}

#false:hover {
    color: #ed5d5d;
}

.text-padding {
    padding: 30px;
}

/*To hide section when no longer needed on screen*/
.hide {
    display: none;
}

/* To add growing effect to button when hovered 
button hover effect tutorial from https://www.30secondsofcode.org/*/
.button-grow {
    transition: all 0.2s ease-in-out;
}

.button-grow:hover {
    transform: scale(1.1);

}

/*Media Queries for mobile screens*/
@media screen and (max-width: 800px) {
    .container-styling {
        width: 100%;
        margin-top: 40px;

    }

    #btn-instructions {
        display: flex;
        margin: auto;
        margin-top: 10px;
    }

}